@font-face {
	font-family: "dahlia";
	src: url("/portfolio/public/fonts/dahlia-medium.otf") format("opentype");
	font-weight: medium;
	font-style: normal;
}
@font-face {
	font-family: Eklektyk;
	src: url("/portfolio/public/fonts/Eklektyk-Stencil.otf") format("opentype");
}
